PORT=3000
DATABASE_URL=postgresql://postgres:password@host:5432/dbname

SESSION_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
PUBLIC_BASE_URL=https://your-domain.com

STEAM_API_KEY=YOUR_STEAM_WEB_API_KEY

# для production на Railway / HTTPS
COOKIE_SECURE=true

# CORS для сайта и лаунчера
SITE_ORIGIN=https://your-domain.com
LAUNCHER_ORIGIN=trust-launcher://local